.gradle/
.kotlin/
.idea/
**/build/
**/release/
local.properties
**/local.properties
*.iml
*.jks
*.keystore
*.p12
*.pfx
*.pem
*.key
key01
*.apk
*.aab
*.db
*.db-wal
*.db-shm
*.sqlite*
*.zip
.env
.env.*
secrets.properties
keystore.properties
google-services.json
*.log
